recursive-exclude templateflow/tests *
recursive-exclude templateflow/conf/tests *
recursive-exclude docs/ *

recursive-exclude .circleci/ *
recursive-exclude .github/ *

exclude .gitignore .gitattributes .git_archival.txt .travis.yml .zenodo.json codecov.yml update_changes.sh
