# data
include templateflow/conf/config.json
include templateflow/conf/templateflow-skel.zip
include templateflow/conf/templateflow-skel.md5

# misc
include requirements.txt
include CHANGES.rst
include LICENSE
include versioneer.py
include templateflow/_version.py
